*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    background: linear-gradient(
    135deg,
        #0EDB9C 0%,
        #0CCF8E 15%,
        #09B070 30%,
        #057C52 50%,
        #03302F 70%,
        #021A1A 90%,
        #000000 100%
);
    color: #F5F5F5;
    font-family: "Poppins", sans-serif;
    background-attachment: fixes;
    min-height: 100vh;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  font-size: 18px;
}
.menu a {
  color: #F5F5F5;
  text-decoration: none;
  transition: .3s;
}

.menu a:hover {
  color: #000000;
}
/*--------- SECTION ---------*/
      /* Lado Esquerdo */

.section-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
}
.section-div .principal h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
}

.section-div .principal h1 {
  font-size: 70px;
  line-height: 70px;
}

.section-div .principal h1 span {
  color: #B0C4DE;
}

.section-div h2 {
  font-size: 28px;
  margin: 15px 0;
}

.btn-cv {
  background: #f5f5f5;
  border: none;
  padding: 18px 40px;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.btn-cv:hover {
  transform: scale(1.05);
  background: #0EDB9C;
}

/* Lado Direito */

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img-box {
  background: #0EDB9C;
  padding: 10px;
  border-radius: 20px;
}

.img-box img {
  width: 260px;
  border-radius: 15px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 40px;
  cursor: pointer;
  transition: .3s;
}

.icons img:hover {
  transform: scale(1.1);
}